<html >
<head>
  <meta charset="UTF-8">
  <title>Login form</title>  
      <link rel="stylesheet" href="static/css/style2.css">
</head>
<style>
body {

background-image: url("static/img/news2.jpg");
  }
  </style>
<div class="container">
	<section id="content">
		<form method=POST action="{{ url_for('login') }}">
			<h1>Prime Login</h1>
			
			<!-- dedicated input boxes are created for non-Twitter user to log in -->
			<div>
				<input type="text" name="username" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" name="pass" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
                
                 <a href="{{ url_for('register') }}">Click here to register with prime!</a>
			</div>
		</form>
		
		<!-- Twitter account holder click the "Twitter sign in image" to enter into the prime  -->
		<a href="{{ url_for('login') }}"><img src="{{url_for('static', filename='img/sign-in.png') }}" alt="sign in"></a>
		<div class="button">
			<h4>Start your personalized news feed</h4>
		</div>
	</section>
</div>
</html>
