<!DOCTYPE html>
<html>
{% block head %}
	<title>Prime</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="your app content">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/roboto.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/primeApache.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}


<body ng-app="newsApp"  ng-controller="mainCtrl">
<!-- header holds search bar, logo, user profile -->
<div class="row header">
  <div class="col-md-2 col-sm-6 col-xs-11">
    <a href="#/"><img class="logo-image" src="/static/img/Prime_logo.png"></a>
  </div>
  <div class="col-md-10 col-sm-6 col-xs-11">
    
    <div class="header-icons">
        <div class="dropdown navbar-right">
      <button class="btn btn-primary dropdown-toggle button-hide" type="button" data-toggle="dropdown"> <span class="menus"><span class="fa fa-th" dropdown-toggle" aria-hidden="true"></span></span></button>
      <ul class="dropdown-menu">
        <li><a href="#/saved"><span class="fa fa-bookmark" aria-hidden="true">&nbsp;&nbsp;| Bookmark</span></a></li>
        <li><a href="/category"><span class="fa fa-cog" aria-hidden="true">&nbsp;| Personalized</span></a></li>
        <li><a href="#/"><span class="fa fa-info" aria-hidden="true">&nbsp;&nbsp;&nbsp;| About Us</span></a></li>
      </ul>
    </div>
    <div class="dropdown navbar-right">
      <button class="btn btn-primary dropdown-toggle button-hide" type="img" data-toggle="dropdown"> <span class="menus"><img class="profile"  src="{{img_url}}"/></span></button>
      <ul class="dropdown-menu">
      
        <li><a href="#/"><span class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;| {{user}}</span></a></li>
        <li><a href="#/"><span class="fa fa-user-secret" aria-hidden="true">&nbsp;| Profile</span></a></li>
        <li><a href="{{ url_for('logout') }}"><span class="fa fa-sign-out" aria-hidden="true">&nbsp;| Logout</span></a></li>
      </ul>
    </div>

    </div>
    <input type="text" id="searchfield" class="form-control search-box" ng-change="change()" ng-model="search" ng-model-options="{debounce:500}" placeholder="Search">
  </div>
</div>
<!-- ng-view is a container to switch between views -->
<div ng-view class="main-content content-container" ng-cloak></div>
</div>
<script>
window.userName='{{user}}'
</script>

<!-- footer holds customer service and contact us options -->
<div class="footer">
<div class="social-links">
<ul class="footer-social">
<li class="contact-us"><a target="_BLANK" href="mailto:primenewsapp@gmail.com" title="Contact Us" class="fa fa-google"></a></li>
<li class="twitter"><a href="https://twitter.com/prime_newsapp" target="_blank" title="Facebook" class="fa fa-twitter"> </a></li>
<li class="facebook"><a href="https://www.facebook.com/prime.newsapp" target="_blank" title="Facebook" class="fa fa-facebook"> </a>  </li>
</ul>
</div>
<span>Prime Copyright © 2017 </span>
</div>
</body>
</html>
