 <!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Day 001 Login Form</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

      <link rel="stylesheet" href="static/css/twittercss.css">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
  
</head>

<body>
<form action="/afterlogin" method="POST">
  <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Twitter name</label>
					<input id="user" name="username" type="text" class="input" placeholder="eg. UCD_Cs" onfocus="this.placeholder = ''">
				</div>
				
				<div class="group">
					<input type="submit" class="button" value="Get Recommendation">
				</div>

				<!-- <div class="group">
					<input type="submit" class="button" value="Log Out">
				</div> -->
				<br>
				<div class="group">
                <a class="button" href='/logout'>Logout</a>
				</div>
				
				<div class="hr"></div>
				<div class="foot-lnk">
				<p>Start with your Twitter</p>

				</div>
			</div>
		</div>
	</div>
</div>
  
</form>  
</body>
</html>