body{
	background-color: #f3f3f3;
}

section.row{
	margin: 0 !important;
	padding: 0 !important;
}

div {
	margin: 0 !important;
	padding: 0 !important;
}

header{
	background-color: #2874f0;
	min-height: 120px;
	margin-bottom: 20px;
}

#logo img{
	width: 200px;
	height: 50px;
	margin: 39px 0 0 0;
}

#search-bar{
	margin: 48px 0 0 0 !important;
	text-align: center
	font-family: cursive;
	font-style: italic;
	
}

#search-bar input{
	width: 100%;
}

#user-name{
	    margin: 39px 0 0 0 !important;
}

#user-name span{
	font-size: 16px;
    color: #9E9E9E;
    font-weight: bold;
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 rgba(255, 255, 255, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    margin-top: 5px;
    width: 165px;
    display: inline-block;
}

main{
	margin: 0 0 20px 0;
}

.article-title{
	border-left: 6px;
    background-color: rgba(211, 211, 211, 0.14);
	height: 400px;
	line-height: 400px;
}

.article-title h2{
	text-shadow: 2px 2px 4px rgba(88, 86, 93, 0.53);
	font-size: x-large;
	font-weight: 700;
	display: inline-block;
	font-family: cursive;
	font-style: italic;
  vertical-align: middle;
  line-height: normal;
}

.article-list{
	height: 400px;

}

.article-list div, .article-list img{

	height: 100% !important;
	max-width: 100%;
}
.article-list img{
	height: 80% !important;
	max-width: 100%;
}

div.thumbnail-image {

   position: relative;
   height: 80% !important; 
   /*width: 100%;  for IE 6 */
}

div.margins{

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	width: 28% !important;
	margin: 0 20px 20px 0 !important;
	    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    border-radius: 5px;
}

div.margins p{
    color: #000;
    font-size: 15px;
    font-family: Georgia,sans-serif;
    margin: 10px 0px 5px 10px;
}
/*.thumbnail-image img{
	width: 100%;
	height: 100%;
}*/
.thumbnail-image img{
	 position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    max-width:100%;
}

.thumbnail-image section{
	position: absolute; 
   top: 60%; 
   left: 0; 
   width: 100%; 
}

.thumbnail-image section > p{ 
   color: white;
   line-height: 1.4;
    font-size: 20px;
    font-family: opensans-bold,sans-serif;
    text-shadow: 0 2px 10px rgba(0,0,0,.4);
    padding: 4px 0 0 0px;
}

p.article-meta{
	    padding: 0px 0 0 10px !important;
    font-size: 10px !important;
    margin: 0 !important;
}

/*#searchBar {
	border: 1px solid #000000;
	border-right: none;
	font-size: 16px;
	padding: 10px;
	outline: none;
	width: 250px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-botton-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
#searchBtn{
	border: 1px solid #000000;
	font-size: 16px;
	padding: 10px;
	background: #f1d829;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-botton-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}*/



.content-container{
    overflow: auto !important;
}

.clear{
    clear: both;
}

.clear > span{
    padding-left: 10px;
}

.float-right{
float: left;
width: 70%;
}

.float-left{
float: left;
width: 26%;
margin: 11px;
}

.article-items{
    margin-bottom: 10px;
}
